.register{
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('/Users/mehdi/react-test/src/assets/image.jpg');
    background-size: cover;
    height: 100vh;
}

.registerbox{
    padding: 50px;
    border-radius: 20px;
}